[submodule "submodule/encounter_tools"]
	path = submodule/encounter_tools
	url = https://boyou_zhou@bitbucket.org/boyou_zhou/cds-msim-cosim.git
[submodule "submodule/rectDecomp"]
	path = submodule/rectDecomp
	url = https://boyou_zhou@bitbucket.org/boyou_zhou/rectdump.git
[submodule "submodule/python"]
	path = submodule/python
	url = https://byzhou@github.com/byzhou/designGDS2txt.git
